body {
    color: white;
    font-family: gill sans; sans serif;
    font-size: medium;
    font-weight: regular;
    letter-spacing: 2px;
    text-align: center;
    }
    
#lights {
	background: url('images/lightson.gif') no-repeat;   
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65px;
  	height: 172px;
  	margin-top: -10px;
  	}

#lights.lights-off {
	background: url('images/lightsoff.gif') no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65px;
  	height: 172px; 
  	margin-top: -10px;  	  
}

/* INDEX */
/* INDEX */
/* INDEX */

#gameover {
	padding-top: 50px;
    background: 
    	url('images/r4/handFrontHover.gif') no-repeat center fixed,
    	url('images/off.jpg') ;
}

#info {
	padding-top: 50px;
    background: 
    	url('images/r1/r1ON.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}

#credits {
	padding-top: 50px;
    background: 
    	url('images/r1/r1OFF.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}
    
#index {
    background: 
    	url('images/index.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}

#index.lights-off {
    background: 
    	url('images/index.gif') no-repeat center fixed,
    	url('images/off.jpg') ;
}

#startButton {
    background: url('images/r1/headlessFront.gif') no-repeat;
    position: fixed; 
    right: 55%; 
    bottom:25%;
	width: 106px;
  	height: 223px; 
    border: none;
}

#startButton:hover {
    background: url('images/start.gif') no-repeat;
    position: fixed; 
    right: 54%; 
    bottom:25%;
	width: 130px;
  	height: 256px; 
    border: none;
}

#infoButton {
    background: url('images/r1/windowON.gif') no-repeat;
    position: fixed; 
    left: 30%; 
    top:27%;
    width: 100px;
    height: 100px;
    border: none;
}

#infoButton:hover {
    background: url('images/info.gif') no-repeat;
    position: fixed; 
    left: 30%; 
    top:27%;
    width: 100px;
    height: 100px;
    border: none;
}

#creditsButton {
    background: url('images/r1/flowerON.gif') no-repeat;
    position: fixed; 
    right: 40%; 
    bottom:35%;
    width: 72px;
    height: 149px;
    border: none;
}

#creditsButton:hover {
    background: url('images/credits.gif') no-repeat;
    position: fixed; 
    right: 40%; 
    bottom:35%;
    width: 133px;
    height: 169px;
    border: none;
}

/* ROOM 1 FACADE */
/* ROOM 1 FACADE */
/* ROOM 1 FACADE */

#r1 {
    background: 
    	url('images/r1/r1ON.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}

#r1.lights-off {
    background: 
    	url('images/r1/r1OFF.gif') no-repeat center fixed,
    	url('images/off.jpg') ;
}

#me1 {
    background: url('images/r1/headlessFront.gif') no-repeat;
    position: fixed; 
    right: 55%; 
    bottom:25%;
	width: 106px;
  	height: 223px; 
    border: none;
}

#me1:hover {
    background: url('images/r1/headlessBack.gif') no-repeat;
    position: fixed; 
    right: 55%; 
    bottom:25%;
	width: 106px;
  	height: 223px; 
    border: none;
}

#me1.lights-off {
    background: url('images/r1/cubeFront.gif') no-repeat;
    position: fixed; 
    right: 53%; 
    bottom:23%;
	width: 136px;
  	height: 281px; 
    border: none;
}

#me1.lights-off:hover {
    background: url('images/r1/cubeBack.gif') no-repeat;
    position: fixed; 
    right: 53%; 
    bottom:23%;
	width: 136px;
  	height: 281px; 
    border: none;
}

#window {
    background: url('images/r1/windowON.gif') no-repeat;
    position: fixed; 
    left: 30%; 
    top:27%;
	width: 114px;
  	height: 98px; 
    border: none;
}

#window:hover {
    background: url('images/r1/windowONhover.gif') no-repeat;
    position: fixed; 
    left: 30%; 
    top:27%;
	width: 114px;
  	height: 98px; 
    border: none;
}

#window.lights-off {
    background: url('images/r1/windowOFF.gif') no-repeat;
    position: fixed; 
    left: 30%; 
    top:27%;
	width: 114px;
  	height: 98px; 
    border: none;
}

#window.lights-off:hover {
    background: url('images/r1/windowOFFhover.gif') no-repeat;
    position: fixed; 
    left: 30%; 
    top:27%;
	width: 114px;
  	height: 98px; 
    border: none;
}

#mirror {
    background: url('images/r1/mirrorON.gif') no-repeat;
    position: fixed; 
    left: 48%;
	bottom: 45%;
	width: 95px;
  	height: 158px; 
    border: none;
}

#mirror:hover {
    background: url('images/r1/mirrorONhover.gif') no-repeat;
    position: fixed; 
    left: 48%;
	bottom: 45%;
	width: 95px;
  	height: 158px; 
    border: none;
}

#mirror.lights-off {
    background: url('images/r1/mirrorOFF.gif') no-repeat;
    position: fixed; 
    left: 48%;
	bottom: 45%;
	width: 97px;
  	height: 159px;
    border: none;
}

#mirror.lights-off:hover {
    background: url('images/r1/mirrorOFFhover.gif') no-repeat;
    position: fixed; 
    left: 48%;
	bottom: 45%;
	width: 112px;
  	height: 159px;
    border: none;
}

#trapdoor.lights-off {
    background: url('images/r1/trapdoor.gif') no-repeat;
    position: fixed; 
	right: 46%;
	bottom: 32%;
	width: 104px;
  	height: 59px; 
    border: none;
}

#trapdoor.lights-off:hover {
    background: url('images/r1/trapdoorHover.gif') no-repeat;
    position: fixed; 
	right: 46%;
	bottom: 30%;
	width: 92px;
  	height: 104px; 
    border: none;
}

#flower {
    background: url('images/r1/flowerON.gif') no-repeat;
    position: fixed; 
    left: 57%; 
    top:39%;
    width: 72px;
    height: 149px;
    border: none;
}

#flower:hover {
    background: url('images/r1/flowerONhover.gif') no-repeat;
    position: fixed; 
    left: 57%; 
    top:39%;
    width: 72px;
    height: 149px;
    border: none;
}

#flower.lights-off {
    background: url('images/r1/flowerOFF.gif') no-repeat;
    position: fixed; 
    left: 56%; 
    top:42.5%;
	width: 91px;
  	height: 125px; 
    border: none;
}

#flower.lights-off:hover {
    background: url('images/r1/flowerOFFhover.gif') no-repeat;
    position: fixed; 
    left: 56%; 
    top:42.5%;
	width: 91px;
  	height: 125px; 
    border: none;
}

/* ROOM 2 REJECTION */
/* ROOM 2 REJECTION */
/* ROOM 2 REJECTION */

#r2 {
    background: 
    	url('images/r2/r2ON.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}

#r2.lights-off {
    background: 
    	url('images/r2/r2OFF.gif') no-repeat center fixed,
    	url('images/off.jpg') ;
}

#me2 {
    background: url('images/r2/treeFront.gif') no-repeat;
    position: fixed; 
	left: 35%;
	bottom: 24%;
	width: 93px;
  	height: 284px; 
    border: none;
}

#me2:hover {
    background: url('images/r2/treeFrontHover.gif') no-repeat;
    position: fixed; 
	left: 35%;
	bottom: 24%;
	width: 118px;
  	height: 284px; 
    border: none;
}

#me2.lights-off {
    background: url('images/r2/candleFront.gif') no-repeat;
    position: fixed; 
	left: 35%;
	bottom: 24%;
	width: 97px;
  	height: 283px; 
    border: none;
}

#me2.lights-off:hover {
    background: url('images/r2/candleFrontHover.gif') no-repeat;
    position: fixed; 
	left: 35%;
	bottom: 24%;
	width: 130px;
  	height: 283px; 
    border: none;
}

#mother {
    background: url('images/r2/motherON.gif') no-repeat;
    position: fixed; 
	right: 44%;
	bottom: 35%;
	width: 55px;
  	height: 189px; 
    border: none;
}

#mother:hover {
    background: url('images/r2/motherONhover.gif') no-repeat;
    position: fixed; 
	right: 44%;
	bottom: 35%;
	width: 136px;
  	height: 189px; 
    border: none;
}

#mother.lights-off {
    background: url('images/r2/motherOFF.gif') no-repeat;
    position: fixed; 
	right: 44%;
	bottom: 35%;
	width: 55px;
  	height: 189px; 
    border: none;
}

#mother.lights-off:hover {
    background: url('images/r2/motherOFFhover.gif') no-repeat;
    position: fixed; 
	right: 44%;
	bottom: 35%;
	width: 136px;
  	height: 189px; 
    border: none;
}

#door{
	position: fixed;
	right: 33%;
	bottom: 30%;
	width: 50px;
	height: 170px;
	border: none;
}

#door.lights-off{
	position: fixed;
	right: 33%;
	bottom: 30%;
	width: 50px;
	height: 170px;
	border: none;
}

/* ROOM 3 DENIAL */
/* ROOM 3 DENIAL */
/* ROOM 3 DENIAL */

#r3 {
    background: 
    	url('images/r3/r3ON.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}

#r3.lights-off {
    background: 
    	url('images/r3/r3OFF.gif') no-repeat center fixed,
    	url('images/off.jpg') ;
}

#me3 {
    background: url('images/r3/candyFront.gif') no-repeat;
    position: fixed; 
	left: 48%;
	bottom: 24%;
	width: 129px;
  	height: 270px; 
    border: none;
}

#me3:hover {
    background: url('images/r3/candyBack.gif') no-repeat;
    position: fixed; 
	left: 48%;
	bottom: 24%;
	width: 129px;
  	height: 270px;
    border: none;
}

#me3.lights-off {
    background: url('images/r3/antFront.gif') no-repeat;
    position: fixed; 
	left: 37%;
	bottom: 24%;
	width: 151px;
  	height: 271px; 
    border: none;
}

#cake {
    background: url('images/r3/cake.gif') no-repeat;
    position: fixed; 	
    left: 34%;	
    bottom: 34%;
	width: 129px;
  	height: 270px; 
    border: none;
}

#cake:hover {
    background: url('images/r3/cakeHover.gif') no-repeat;
    position: fixed; 
    left: 34%;	
    bottom: 34%;
	width: 129px;
  	height: 270px;
    border: none;
}

#cake.lights-off {
    background: url('') no-repeat;
}

#cake.lights-off:hover {
    background: url('') no-repeat;
}

#book {
    background: url('images/r3/diary.gif') no-repeat;
    position: fixed; 	
  right: 64%;
  bottom: 21%;
	width: 79px;
  	height: 82px; 
    border: none;
}

#book:hover {
    background: url('images/r3/diaryONhover.gif') no-repeat;
    position: fixed; 
  right: 64%;
  bottom: 21%;
	width: 123px;
  	height: 82px;
    border: none;
}

#book.lights-off {
    background: url('images/r3/diary.gif') no-repeat;
    position: fixed; 	
  right: 64%;
  bottom: 21%;
	width: 79px;
  	height: 82px; 
    border: none;
}

#book.lights-off:hover {
    background: url('images/r3/diaryOFFhover.gif') no-repeat;
    position: fixed; 
	right: 64%;
	bottom: 21%;
	width: 123px;
  	height: 82px;
    border: none;
}

#draw {
    background: url('images/r3/draw.gif') no-repeat;
    position: fixed; 	
	right: 31%;
	bottom: 25%;
	width: 68px;
  	height: 142px; 
    border: none;
}

#draw:hover {
    background: url('images/r3/drawHover.gif') no-repeat;
    position: fixed; 
	right: 31%;
	bottom: 25%;
	width: 68px;
  	height: 142px; 
    border: none;
}

#draw.lights-off {
    background: url('') no-repeat;
}

#draw.lights-off:hover {
    background: url('') no-repeat;
}


#sleep.lights-off {
    background: url('images/r3/pillow.gif') no-repeat;
    position: fixed; 	
	right: 41%;
  	bottom: 20%;
	width: 143px;
  	height: 120px; 
    border: none;
}

#sleep.lights-off:hover {
    background: url('images/r3/pillowHover.gif') no-repeat;
    position: fixed; 
	right: 41%;
  	bottom: 20%;
	width: 143px;
  	height: 120px;  
    border: none;
}

#door3.lights-off {
    background: url('images/r3/door.gif') no-repeat;
    position: fixed; 	
  	right: 43%;
  	bottom: 47%;
	width: 134px;
  	height: 158px; 
    border: none;
}

#door3.lights-off:hover {
    background: url('images/r3/doorHover.gif') no-repeat;
    position: fixed; 
  	right: 43%;
  	bottom: 47%;
	width: 134px;
  	height: 158px; 
    border: none;
}

/* ROOM 4 SELF */
/* ROOM 4 SELF */
/* ROOM 4 SELF */

#r4 {
    background: 
    	url('images/r4/r4ON.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}

#r4.lights-off {
    background: 
    	url('images/r4/r4OFF.gif') no-repeat center fixed,
    	url('images/off.jpg') ;
}

#me4 {
    background: url('images/r4/flowerFront.gif') no-repeat;
    position: fixed; 
	left: 40%;
	bottom: 23%;
	width: 86px;
  	height: 287px; 
    border: none;
}

#me4:hover {
    background: url('images/r4/flowerFrontHover.gif') no-repeat;
    position: fixed; 
	left: 40%;
	bottom: 23%;
	width: 111px;
  	height: 287px; 
    border: none;
}

#me4.lights-off {
    background: url('images/r4/handFront.gif') no-repeat;
    position: fixed; 
	left: 37%;
	bottom: 30%;
	width: 99px;
  	height: 294px; 
    border: none;
}

#me4.lights-off:hover {
    background: url('images/r4/handFrontHover.gif') no-repeat;
    position: fixed; 
	left: 37%;
	bottom: 30%;
	width: 99px;
  	height: 294px; 
    border: none;
}

#door4 {
    background: url('images/r4/door.gif') no-repeat;
    position: fixed; 
	left: 31.3%;
	bottom: 34%;
	width: 121px;
  	height: 244px; 
    border: none;
}

#door4:hover {
    background: url('images/r4/doorHover.gif') no-repeat;
    position: fixed; 
	left: 31.1%;
	bottom: 34.6%;
	width: 121px;
  	height: 274px; 
    border: none;
}
 
/* touch hand */
#door4.lights-off {
    background: url('images/r4/touch.gif') no-repeat;
    position: fixed; 
	left: 48.8%;
  	bottom: 35.7%;
	width: 66px;
  	height: 98px; 
    border: none;
}

#door4.lights-off:hover {
    background: url('images/r4/touchHover.gif') no-repeat;
    position: fixed; 
	left: 48.8%;
  	bottom: 35.7%;
	width: 66px;
  	height: 98px; 
    border: none;
}

#knife {
    background: url('images/r4/knife.gif') no-repeat;
    position: fixed; 
  	left: 49.5%;
  	bottom: 35%;
	width: 28px;
  	height: 81px; 
    border: none;
}

#knife:hover {
    background: url('images/r4/knifeHover.gif') no-repeat;
    position: fixed; 
  	left: 49.5%;
  	bottom: 35%;
	width: 28px;
  	height: 81px;
    border: none;
}

/* stab hand */
#knife.lights-off {
    background: url('images/r4/stab.gif') no-repeat;
    position: fixed; 
	left: 31.4%;
  	bottom: 28%;
	width: 67px;
  	height: 108px; 
    border: none;
}

#knife.lights-off:hover {
    background: url('images/r4/stabHover.gif') no-repeat;
    position: fixed; 
	left: 31.4%;
  	bottom: 28%;
	width: 67px;
  	height: 108px;
    border: none;
}

/* ROOM 5 MEANING */
/* ROOM 5 MEANING */
/* ROOM 5 MEANING */

#r5 {
    background: 
    	url('images/r5/r5ON.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}

#r5.lights-off {
    background: 
    	url('images/r5/r5OFF.gif') no-repeat center fixed,
    	url('images/off.jpg') ;
}

#me5 {
    background: url('images/r5/fishFront.gif') no-repeat;
    position: fixed; 
	left: 57%;
  	bottom: 14%;
	width: 86px;
  	height: 310px; 
    border: none;
}

#me5.lights-off {
    background: url('images/r5/bloodFront.gif') no-repeat;
    position: fixed; 
	left: 57%;
  	bottom: 14%;
	width: 94px;
  	height: 292px; 
    border: none;
}

#me5.lights-off:hover {
    background: url('images/r5/bloodFrontHover.gif') no-repeat;
    position: fixed; 
	left: 57%;
  	bottom: 14%;
	width: 94px;
  	height: 292px; 
    border: none;
}

#window5 {
    background: url('images/r5/windowON.gif') no-repeat;
    position: fixed; 
 	left: 48%;
  	bottom: 54%;
	width: 114px;
  	height: 106px; 
    border: none;
}

#window5:hover {
    background: url('images/r5/windowONhover.gif') no-repeat;
    position: fixed; 
 	left: 48%;
  	bottom: 54%;
	width: 114px;
  	height: 106px; 
    border: none;
}

#window5.lights-off {
    background: url('images/r5/windowOFF.gif') no-repeat;
    position: fixed; 
 	left: 48%;
  	bottom: 54%;
	width: 114px;
  	height: 106px; 
    border: none;
}

#bed {
    background: url('images/r5/bed.gif') no-repeat;
    position: fixed; 
  	left: 39%;
  	bottom: 37%;
	width: 204px;
  	height: 194px; 
    border: none;
}

#bed:hover {
    background: url('images/r5/bedHover.gif') no-repeat;
    position: fixed; 
  	left: 39%;
  	bottom: 37%;
	width: 204px;
  	height: 194px; 
    border: none;
}

#bed.lights-off {
    background: url('images/r5/bed.gif') no-repeat;
    position: fixed; 
  	left: 39%;
  	bottom: 37%;
	width: 204px;
  	height: 194px; 
    border: none;
}

#bed.lights-off:hover {
    background: url('images/r5/bed.gif') no-repeat;
    position: fixed; 
  	left: 39%;
  	bottom: 37%;
	width: 204px;
  	height: 194px; 
    border: none;
    }

#table {
    background: url('images/r5/tableON.gif') no-repeat;
    position: fixed; 
  	left: 31%;
  	bottom: 29%;
	width: 136px;
  	height: 152px; 
    border: none;
}

#talbe.lights-off {
    background: url('images/r5/tableOFF.gif') no-repeat;
    position: fixed; 
  	left: 31%;
  	bottom: 29%;
	width: 136px;
  	height: 152px; 
    border: none;
}

#table.lights-off:hover {
    background: url('images/r5/tableOFFhover.gif') no-repeat;
    position: fixed; 
  	left: 31%;
  	bottom: 29%;
	width: 136px;
  	height: 174px; 
    border: none;
}

#painting {
    background: url('images/r5/paintingON.gif') no-repeat;
    position: fixed; 
  	left: 33%;
  	bottom: 61%;
	width: 73px;
  	height: 147px; 
    border: none;
}

#painting:hover {
    background: url('images/r5/paintingONhover.gif') no-repeat;
    position: fixed; 
  	left: 33%;
  	bottom: 61%;
	width: 73px;
  	height: 147px; 
    border: none;
}

#painting.lights-off {
    background: url('images/r5/paintingOFF.gif') no-repeat;
    position: fixed; 
  	left: 33%;
  	bottom: 61%;
	width: 73px;
  	height: 147px; 
    border: none;
}

#painting.lights-off:hover {
    background: url('images/r5/paintingOFFhover.gif') no-repeat;
    position: fixed; 
  	left: 33%;
  	bottom: 61%;
	width: 73px;
  	height: 147px; 
    border: none;
}

/* ROOM 6 CLOSURE */
/* ROOM 6 CLOSURE */
/* ROOM 6 CLOSURE */

#r6 {
    background: 
    	url('images/r6/r6ON.gif') no-repeat center fixed,
    	url('images/on.jpg') ;
}

#r6.lights-off {
    background: 
    	url('images/r6/r6OFF.gif') no-repeat center fixed,
    	url('images/off.jpg') ;
}

#me6 {
    background: url('images/r6/triangleON.gif') no-repeat;
    position: fixed; 
  	left: 37%;
  	bottom: 30%;
	width: 77px;
  	height: 252px; 
    border: none;
}

#grave {
    background: url('images/r6/flower.gif') no-repeat;
    position: fixed; 
  	left: 47%;
  	bottom: 36%;
	width: 89px;
  	height: 66px; 
    border: none;
}

#grave:hover {
    background: url('images/r6/flowerHover.gif') no-repeat;
    position: fixed; 
  	left: 44.5%;
  	bottom: 36%;
	width: 122px;
  	height: 154px; 
    border: none;
}

#me6.lights-off {
    background: url('images/r6/triangleOFF.gif') no-repeat;
    position: fixed; 
  	left: 37%;
  	bottom: 30%;
	width: 77px;
  	height: 252px; 
    border: none;
}

#end2 {
    background: 
    	url('images/end2.gif') no-repeat center fixed,
}

#footer {
	bottom: 0px;
	padding-bottom: 10px;
    color: white;
    font-family: gill sans; sans serif;
    font-size: small;
    font-weight: regular;
    letter-spacing: 2px;
    text-align: center;
}